/* Hoja de estilo personalizada para no modificar los archivos css de Materialize */
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
/* Fondo gradiente */
body{
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

.titles{
    font-family: 'PT Sans Narrow', sans-serif;
}

.card-content span.card-title{
    font-family: 'Spartan', sans-serif;
    font-size: 18px;
}

.card-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.icon-card{
    width: 46px;
    height: 46px;
    margin-bottom: 5px;
}

/* Para que los elementos ocupen el 100% de ancho disponible */
.full-width{
    width: 100%;
}

.justify-text{
    text-align: justify;
    text-justify: inter-word;
}


@media only screen and (max-width: 600px) { .row.valign-wrapper { display: inherit; } }




